{% extends 'wrapper.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>

<link rel='stylesheet' href='/static/repo.css'>

<script>
  angular.module('myApp',[])

  .controller('MyController', function($scope) {
    $scope.repo_list = JSON.parse( '(((list_json|safe)))' );
    $scope.repo_list.forEach(function(repo_obj, index) {
      repo_obj.index = index;
    });
  });

  var repo_list = JSON.parse('(((list_json|safe)))');
  window.onload = function() {
    console.log('repo 0:', d3.select('#repo-0')._groups[0]);
    console.log('adding graphs, repo_obj:', repo_list);
    add_graphs(repo_list)
  };
</script>

<div ng-controller="MyController" ng-app="myApp">
  <div ng-include="'/templates/repo_templ.html'" ng-repeat="repo_obj in repo_list">
  </div>
</div>
{% endblock %}
