<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>

<style type="text/css">
  .label {
    width: 80px;
    display: inline-block;
  }
</style>

<script>
  angular.module('myApp',[])

  .controller('MyController', function($scope) {
    var repo_obj = $scope.repo_obj = JSON.parse( '(((repo_json|safe)))' );

    $scope.get_rating = function() {
      var score = repo_obj.score;
      var rating = '', explanation = '';
      if(score > 4000) {
        rating = 5;
        explanation = 'Outstanding!'
      }
      else if(score > 1000) {
        rating = 4;
        explanation = 'Good'
      }
      else if(score > 400) {
        rating = 3;
        explanation = 'Ok'
      }
      else if(score > 200) {
        rating = 2;
        explanation = 'Bad'
      }
      else if(score > 100) {
        rating = 1;
        explanation = 'Terrible'
      }
      else
        return '💩';
      rating_str = ''
      for(var i = 0; i < rating; i++)
        rating_str += '⭐️' + ' '
      return rating_str + '  ' + explanation
    }
  });
</script>

<div ng-controller="MyController" ng-app="myApp">
  <div>
    <span class='label'>Name:</span>
    <a href="http://github.com/{{repo_obj.full_name}}">{{repo_obj.full_name}}</a>
  </div>
  <div>
    <span class='label'>Raw score:</span>
    <span>{{repo_obj.score.toFixed(0)}}</span>
  </div>
  <div>
    <span class='label'>Rating:</span>
    <span>{{get_rating()}}</span>
  </div>
  <div ng-hide='repo_obj.has_issues'>
    <span>🐒 This project doesn't use GitHub for issues.  This makes the rating less reliable.</span>
  </div>
</div>