{% extends 'wrapper.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>

<link rel='stylesheet' href='/static/repo.css'>

<script>
  angular.module('myApp',[])

  .controller('MyController', function($scope) {
    $scope.repo_obj = JSON.parse('(((repo_json|safe)))');
    $scope.repo_obj.index = 0;
  });

  var repo_obj = JSON.parse('(((repo_json|safe)))');
  window.onload = function() {
    setTimeout(function() { add_graphs([repo_obj]); }, 1000);
  };
</script>

<div ng-controller="MyController" ng-app="myApp" ng-include="'/templates/repo_templ.html'">
</div>
{% endblock %}
