<div class='repo'>
  <div>
    <span class='repo-label'>Name:</span>
    <a href="http://github.com/{{repo_obj.full_name}}">{{repo_obj.full_name}}</a>
  </div>
  <div>
    <span class='repo-label'>Rating:</span>
    <span>{{repo_obj.rating_str}}</span><span class='explanation'>{{repo_obj.explanation}}</span>
  </div>
  <div>
    <span class='repo-label'>Raw score:</span>
    <span>{{repo_obj.score.toFixed(0)}}</span>
  </div>
  <div ng-hide='repo_obj.has_issues'>
    <span>🐒 This project doesn't use GitHub for issues.  This makes the rating less reliable.</span>
  </div>
  <div>
    <span class='repo-label'>Stars:</span>
    <span>{{repo_obj.stargazers_count}}</span>
  </div>
  <div>
    <span class='repo-label'>Age:</span>
    <span>{{repo_obj.age}} days</span>
  </div>
  <div>
    <span class='repo-label'>Stars / Open Issues:</span>
    <span>{{(repo_obj.stargazers_count / (repo_obj.open_issues || 1)).toFixed(0)}}</span>
  </div>
  <div>
    <span class='repo-label'>Stars / Age:</span>
    <span>{{(repo_obj.stargazers_count / (repo_obj.age || 1)).toFixed(0)}}</span>
  </div>
  <div ng-if="repo_obj.open_issues">
    <span class='repo-label'>Open issues:</span>
    <span>{{repo_obj.open_issues}}</span>
  </div>
</div>
