

<link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
<link rel='stylesheet' href='/static/global.css'>

<div class='main'>
  <nav class="navbar navbar-light navbar-static-top">
    <h2><a href='/'>Repo Quality</a></h2>
  </nav>

  {% block content %}
  {% endblock %}
</div>
<footer class="footer">
	<span>By: <a href='http://jessealdridge.com'>Jesse Aldridge</a></span>
	<span>
		<a href='https://github.com/JesseAldridge/github_quality/blob/master/score.py'>
			Scoring Algorithm
		</a>
	</span>
</footer>
